* {
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  background-color: indigo;
}

body {
    font-size: 16px;
  }

main {
  display: flex;
}

section {
  margin-top: 10px;
}


.search-container {
  width: 25%;
  margin: 10px 20px 0 10px;
  padding: 10px 0 10px 10px;
  background-color: lightgrey;
}

.search-button-panel {
  margin-left: -50px;
}

.city-list-container {
  margin-top: 5px;

}

.city-name {
  width: 90%;
}

.forecast-panel {
  width: 75%;
  padding-bottom: 10px;
  visibility: hidden;
}

.forecast-today {
  border: 1px solid silver;
  border-right: none;
  padding-left: 10px;
  padding-bottom: 30px;
}

.container {
  display: inline;
}

.card-header {
  text-align: center;
  background-color: blue;
}

.card-body {
  text-align: center;
  background-color: lightblue;
}

.favorable {
  background-color: green;
  color: white;
}

.moderate {
  background-color: yellow;
  color: black;
}

.severe {
  background-color: red;
  color: white;
}

@media screen and (max-width: 575px) {
  .search-panel {
      width: 40%;
  }

}